DATABASE_URL=
CASHFREE_CLIENT_ID=
CASHFREE_CLIENT_SECRET=
CASHFREE_ENVIRONMENT=sandbox
ADMIN_PASSWORD=
ADMIN_SESSION_SECRET=
CUSTOMER_SESSION_SECRET=
SHIPROCKET_EMAIL=
SHIPROCKET_PASSWORD=
SHIPROCKET_PICKUP_LOCATION=
SHIPROCKET_PICKUP_PINCODE=
SHIPROCKET_SENDER_EMAIL=
RESEND_API_KEY=
